<div class="grid__item">

    <div class="summary" href="{{url}}">
        <h3 class="summary__title"><a href="{{url}}">{{title}}</a></h3>
        <p class="summary__meta">{{date}}. {{tags}}</p>
        <p class="summary__excerpt">{{excerpt words="25"}}...</p>
    </div>

</div>