<div class="post-card">

    <h2 class="post-card__title"><a href="{{url}}">{{title}}</a></h2>
    <p class="post-card__meta">{{date}}. {{tags}}</p>
    <p class="post-card__excerpt">{{excerpt}}</p>

</div>