{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header>
    <div class="header__logo">
        <a class="link link--plain" href="{{@blog.url}}">
            {{#if @blog.logo}}
                <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{else}}
                <div class="site-logo"></div>
            {{/if}}
        </a>
    </div>
    
    <nav class="header__nav">
        {{> "site-nav"}}
    </nav>    
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <h1 class="article__title">{{title}}</h1>
    
    <p class="article__meta">Written {{date}}. Posted in {{tags}}.</p>
        
    <div class="article__body">

        {{content}}

    </div>

</article>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <h4 class="text--sub-title">Further reading</h4>
    <div class="grid grid--double">

        {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#next_post}}
            {{> "post-card"}}
        {{/next_post}}

        {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#prev_post}}
            {{> "post-card"}}
        {{/prev_post}}

    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();
});
</script>
{{/contentFor}}
